<div id="content">
  <h1>Posts</h1>
  <ul>
    <li *ngFor="let post of posts$">
      <a (click)="postDetailId(post.id)">{{post.title}}</a>
      <p>{{post.body}}</p>
      <div *ngFor="let comments of postComments">
        <div id="comments" *ngIf="post.id === comments.postId">
          <ul class="comments-ul">
            <li class="comments-li"><strong>Name: </strong>{{comments.name}}</li>
            <li class="comments-li"><strong>Email: </strong>{{comments.email}}</li>
            <li class="comments-li-body">{{comments.body}}</li>
          </ul>
        </div>
      </div>
    </li>
  </ul>
</div>