<div id="content">
  <h1>{{ user$.name }}</h1>

  <ul>
    <li><strong>Username: </strong> {{ user$.username }}</li>
    <li><strong>Email: </strong> {{ user$.email }}</li>
    <li><strong>Phone: </strong> {{ user$.phone }}</li>
  </ul>

  <div class="button-group">
    <button class="button" (click)="showUserAlbums()">album</button>
    <button class="button button1"><a routerLink="">Back to users</a></button>
  </div>

  <app-albums class="app-albums" *ngIf="showUser" [userId]="user$"></app-albums>
</div>